# Ignorar archivos del sistema operativo
.DS_Store
Thumbs.db

# Ignorar archivos de entornos de desarrollo integrado
.vscode/
.idea/

# Ignorar archivos de gestores de paquetes
node_modules/

# Ignorar archivos de compilación y registros
build/
logs/

# Ignorar archivos de TypeScript y JavaScript
*.tsbuildinfo
*.js.map

# Ignorar archivos de MongoDB
.mongorc.js

# Ignorar archivo de variables de entorno
.env

# Ignorar archivos de npm
npm-debug.log*

# Ignorar archivos de yarn
.yarn-integrity
.yarn-metadata.json
.yarn-debug.log*

# Ignorar archivos de respaldo del editor
.*.swp

# Ignorar archivos misceláneos
.prettierignore